/* Main layout styles */
@use '../../../_variables' as vars;

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  flex: 1;
  height: calc(100vh - 64px); /* Subtract header height */
}

.sidenav {
  width: 256px;
  background-color: vars.$primary-color;
  color: white;
  border-radius: 0;
}

.sidenav-content {
  padding: 24px;
  height: 100%;
  overflow: auto;
}
