@use '@angular/material' as mat;

@include mat.core();

$flashcare-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
    tertiary: mat.$azure-palette,
  ),
));

@include mat.all-component-themes($flashcare-theme);
